@inject UserService UserService
@inject NavigationManager NavigationManager
<EditForm FormName="connexion" Model="@loginModel" OnValidSubmit="Connexion">
    <div>
        <label for="login">Login</label>
        <InputText  id="login" @bind-Value="loginModel.Login" />
    </div>
    <div>
        <label for="password">Mot de passe</label>
        <InputText type="password" id="password" @bind-Value="loginModel.Password" />
    </div>
    <button type="submit">Se connecter</button>
</EditForm>

@code {
    private Userinfo loginModel = new Userinfo();
    private async Task Connexion()
    {
        
        var user = await UserService.Login(loginModel);

        if (user != null)
        {
            NavigationManager.NavigateTo("/Page");
        }
        else
        {
            Console.WriteLine("Login failed. Please check your credentials and try again.");
        }
    }
}
