@page "/Page"

<div class="card" style="width: 18rem;">
<img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTI5NDc4MDc3MV5BMl5BanBnXkFtZTYwNjAwMTI2._V1_UY1200_CR88,0,630,1200_AL_.jpg" alt="...">
  <div class="card-body">
    <h5 class="card-title">GodFather</h5>
    <p class="card-text">One of the best film.</p>
    <a href="https://www.imdb.com/fr/title/tt0068646/" class="btn btn-primary">Go To The Imdb Page</a>
  </div>
</div>

